<header>
  <h1 class="text-3xl font-bold">
    pop.meme
  </h1>
  <div>รวมเว็บมีมคุณภาพ อีกแล้วครับท่าน</div>
</header>

<section id="list">
  <div class="mt-8 flex flex-col sm:flex-row gap-4">
    <% @memes.each do |meme| %>
      <%= link_to meme.url, onclick: meme.wip ? 'alert("Work in progress")' : ""  do %>
        <div class="bg-white p-2 rounded-lg shadow-md hover:shadow-xl transition duration-200">
          <img src="<%= meme.image_url %>" alt="<%= meme.title %>" class="w-full h-60 object-cover rounded-lg aspect-[16/9]">
          <!--
          <h2 class="text-lg font-bold mt-2"><%= meme.title %></h2>
          -->
        </div>
        <p class="text-base text-gray-500 mt-2 text-center"><%= meme.description %></p>
      <% end %>
    <% end %>
  </div>
</section>

<footer class="mt-20">
  <img src="https://placehold.co/728x90/EEE/FFF?text=Your+Ads+Here" alt="Ads" class="w-full object-center rounded-lg" onclick="alert('ใจเยดๆ ยังทำไม่เสร็จ')">

  <%# Ads placeholder %>
  <div class="mt-16">
    <%= link_to "☕️ สนับสนุนคนทำมีม", "https://ko-fi.com/narze", target: "_blank", class: "ring ring-2 ring-inset rounded-lg p-4 ring-orange-300 hover:ring-4 hover:ring-500 transition duration-200" %>
  </div>
</footer>
